/* navbar  */
.simple-bar{font-family: 'Raleway', sans-serif ;}

.header-icons span{font-weight: bolder;color: #0075FF;}

.header-icons button{
font-weight: bolder;
color: #fff;
border: solid 2px #fff;
}

.header-icons button:hover{
font-weight: bolder;
color: #0075FF;
border: solid 2px #fff;
background: #fff;
}

.pure-text-centered {margin-top: 5%;}      

.pure-text-centered .texter{color: #0075FF;}

/* footer */
.bg-primary{
    background-color: #0e0f0f;
}
/* end footer */

.overlay:before {
position: absolute;
width: 100%;
height: 100%;
top: 0px;
content: '';
opacity: 0.9;
z-index: 2;
background-color: #0e0f0f;
left: 0;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Raleway', sans-serif !important;}

.work{
    width: 25%;
    display: inline-block;
    padding: 15px;
    text-align: center;
    margin-right: 50px;
}

.simple-bar .logo{
    max-height : 70px;
}
.simple-bar.nav-sticky .logo{
    max-height : 50px;
}
.col-xs-11{
    width: 100%;
}
.col-xs-9{
    width: 100%;
}

.col-xs-7{
    width: 100%;
}
.col-xs-6{
    width: 100%;
}


.f1-fw{
    border-style: solid;
    border-width: 0;
    border-left-width: 0.15em;

    border-image: linear-gradient(#40e0d0,#ff8c00,#ff0080)1;
}


.test-m{
    /*box-shadow: 0 35px 50px -30px rgba(0, 0, 0, 0.2);*/

}


/*slider carousel*/

.our-me-slider {
    width: 50%;
}

.our-me-textar{
    max-width: 100%;
    /*margin-left: 10%;*/
}
.our-me-p{
    line-height: 2em;
}
.our-me-class{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}
.our-me-p {
    width: 100%;
}
.our-me-class span{


    font-size: 18px;
    color: #141c3a;
    font-weight: 800;
    /*width: 80px;*/
    /*height: 80px;*/
    /*background-color: gray;*/
    /*border-radius: 20%;*/
    /*line-height: 100px;*/
}
.our-me-class p{
    font-family: 'Bree Serif', serif;
    font-weight: 300;
    max-width: 700px;
    margin: 0 auto 2.5rem;
}
.our-me-textar .carousel-indicators{
    position: static;
    width: 100%;
    margin-left: auto;
    padding-top: 20px;

}
.our-me-textar .carousel-indicators li {
    width: 80px;
    height: 80px;
    text-indent: 0;
    opacity: 0.5;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 5px;
    -webkit-transition:  all 1.5s ease;
    -moz-transition:    all 1.5s ease;
    -o-transition:    all 1.5s ease;
    transition:    all 1.5s ease;
}
.our-me-textar .carousel-indicators li.active{
    width: 80px;
    height: 80px;
    opacity: 1;
    background: none;
    border: 3px solid #40e0d0;
}
.our-me-textar .carousel-indicators li img{
    max-width: 100%;
}

/*Testimonials section */

.Testimonials h1{
    font-family: 'Bree Serif', serif;
}
/*end Testimonials section*/
/* responsive */

@media (max-width: 767px)
{
    .simple-bar .logo {
        max-height: 50px;
        bottom: 30px;
    }
}

/* css my frame work */
.texter{
    color: #0512FE;

}

.feature  :hover i {
    transition-duration: 2.5s;
    transform: rotate(360deg);

}

.inline-image-right :hover img{
    transition-duration: 1.5s;
    transform: rotate(360deg);
    border-radius: 50%;

}
/*

*/



/* start service  */
.service{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F8F6F6;
}
.service h3{
    color: #0E0F0F;
    font-size: 28px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}
.card-service{
    margin-top: 50px;
    text-align: center;
    color: #0075FF;
}

.item-card-service{
    cursor:grab;
    padding: 20px;
    background-color: #fff;
    border-bottom: 2px solid #0075FF;
    box-shadow:   10px 10px 20px -15px #888888;
    margin: 10px;
    opacity: 50%;
}
.custom-card-service{
    border-bottom: 2px  solid #0075FF;
    border-top: 2px  solid #0075FF;
    opacity: 100%;
}
.item-card-service:hover{
    opacity: 100%;
    border-top: 2px  solid #0075FF;
    transition: all .2s .2s;
}
.custom-card-service:hover{
    border-top: 0px  solid #0075FF;
}
.item-card-service img{
  width: 20%;
}
.item-card-service h4{
    margin-top: 10px;
    font-size: 24px;
}
.item-card-service p{
    color: #777;
    margin-top: 10px;
}
/* end service */

 /* scroll top   */
				
#scroll-top{
    width: 50px;
    height: 40px;
    background-color: #777;
    right: 15px;
    bottom: 10px;
    position: fixed !important;
    z-index: 99999 !important; 
    overflow: hidden;

   /* display: none; */
}



/* end scroll top */

  .bg-primary {
    background-color: #0e0f0f !important;
}

.last-post h5{
    margin-top: 10px
}
.last-post a{
    border: 1px solid #0075FF;
    color: #0075FF;
}
.last-post a:hover{
    background-color: #fff;
    color: black;
    border: 2px solid black;
}
/* top-project */

.top-project{
    padding-top:80px;
    padding-bottom: 80px;
}
.top-project .details-project{
    margin-top: 40px;
    padding:40px;
    background-color: #fafafa;
}
.top-project .details-project h3{
   color: #2D3748;
   font-size: 20px;
}
.top-project .details-project p{
    color: #2D3748;
    font-size: 14px;
    color: #718096;
 }
 .top-project .details-project a{
    color: #2D3748;
    font-size: 14px;
    color: #0075FF;
 }
/* end top-project */

 /* page blog posts  */
 .top-title h1{
    font-weight: 900;
    font-size: 80px;
    line-height: 1.2;
  }

 .code-v1 p{
    margin-top: 5%;
 }
 .top-title{
     margin-top: 10%;
     background-color: #fff !important;
 }


.code-v01{
    width: 50%;
    margin-top: 10px;
    background-color: #7510f7;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
}
.link_live{
    border:none !important;
    color: #7510f7;
    font-size: 16px;
}

/* footer  */

.footer_section_one img {
    width: 50%;
    background-color: #fff;
    border-radius: 1%;
    overflow: hidden;
    border: #fff solid 5px;
}
.footer_section_one p {
 text-align: left;
 margin-top: 20px;
}
.footer_section_two h2{
    color: #fff;
    text-transform: uppercase;
}
.footer_section_two ol li a {
    color:#aeaeaf;
    text-transform: uppercase;
}
.footer_section_two ol li a:hover {
    color:#0075FF;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline #0075FF;
    cursor: pointer;
    transition: all 0.5s 0.2s;

}

.project-card{
    text-align: center;
    margin-top: 10%;
}


/* blog posts  */

.push-post{
    padding-top: 40px;
    padding-bottom: 40px;
}
.push-post h2{
    color: #333333;
    font-weight: bolder;
}
.push-post img {
    width: 250px;
    height: 150px;
}
.push-post .push-post-body{
    margin-top: 20%;
}
.push-post .push-post-body .item-push-post{
    margin-top: 10%;
}
.push-post-body ol li {
    margin-top: 20px;
    display: inline;
    font-weight: bold;
    margin-right: 5px;

}
.push-post-body ol li a{color: #000;}
.push-post-body ol li .demo{
    background-color: #fff;
    border-left: #0075FF solid 1px;
    padding: 10px;
    font-weight: bold;
    color: #0075ff;
    box-shadow:   10px 10px 20px -15px #888888;
    text-transform: uppercase;
}
.push-post-body ol li .demo:hover{
    background-color: #0075FF;
    color: #fff;
    transition: all .3s .3s;
}
/* end blog posts */

/* customer reviews  */
.customer-reviews{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #F8F6F6;
}
.customer-reviews h2{
    color: #333333;
    font-weight: bolder;
}
.customer-reviews .card-top{
    margin-top: 10%;
    padding: 10%;
    box-shadow: 0 35px 50px -30px rgba(0, 0, 0, 100%);   
}
.customer-reviews .card-top:hover{
    margin-top: 5%;
    padding: 10%;
    box-shadow: 0 35px 50px -30px rgba(0, 0, 0, 100%);   
    transition: all 0.3s 0.3s;
    cursor: grab;
}
.customer-reviews .card-top span i {
   color: #0075FF;
   font-size: 28px;
}
/* #0075FF
003585
*/
.customer-reviews .card-top p {
    margin-top: 5%;
    line-height: 2.5;
    font-style: italic;
 }
 .custom-data{
     color: #fff;
     padding: 5%;
     margin-top: 10%;
     background-color: #0075FF;
   
 } 
 .st-op {
    opacity: 50%;
 }
 .st-op:hover {
    opacity: 100;
    margin-top: 5%;
    padding: 10%;
    box-shadow: 0 35px 50px -30px rgba(0, 0, 0, 100%);   
    transition: all 0.3s 0.3s;
    cursor: grab;
 }
 
 .custom-data span i {
    color: #fff;
}

.custom-data h3{
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  
}

/* end css reviews */

/* start about me  */

.card-about-me{
    margin-top: 20px;
}

.item-card-about-me{
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 1px solid #eee;
    transition: ease 1.5s ;

}
.item-card-about-me:hover{
    background-color: #7e93ff;
    cursor: pointer;
    border-radius: 2%;
    color: #fff;
}
.custom-card-about-me{
    padding-bottom: 45px;
}
.item-card-about-me img{
    width: 20%;
    margin-bottom: 5%;
}
.item-card-about-me h4{
    margin-bottom: 5%;
}
/* end about me  */