:root {
  --main-bg-color: #FFCA2C;
  --heading: rgb(28, 27, 27);
  --secondary: #0d6efd;
  --paragraph : #878A8F;
}

body{
font-family: 'Ubuntu', sans-serif;

}
ol {
padding: 0;
margin: 0;
list-style: none;
}

/* 0F354D */
/* start nav */
nav{
text-transform: capitalize;
background-color: #fff !important;
}
nav .navbar-brand{
color:  var(--heading) !important;
}
nav .navbar-brand .dev{
color: #0a58ca;
font-weight: bold;
}
nav .navbar-nav{
float: left !important;
}

nav .navbar-nav .active{
border-bottom: solid 2px #0a58ca ;
color: #0a58ca  !important;
}
nav ul li a {
color: #000 !important;
font-weight: 500;
}
nav .dropdown-menu{
background-color: #f8f7f7;
color: #0F354D;
}
nav .dropdown-menu .dropdown-item:hover{
}
.ml-auto {
margin-left: auto;
}
nav .dropdown-menu{
background-color: #0F354D;
color: #f8f7f7 !important;
border-radius:0;
border: none;
border-top: solid #f8f7f7 1px;
}
nav .dropdown-menu li a:hover{
background-color: #0F354D;
color: #fff !important;
margin-left: 2px;
transition: all .2s .2s;

}
/* end nav  */

/* start slider */
.carousel-item{
position: relative;
}
.overlay-slider {
position: absolute;
width: 100%; 
height: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgb(0 0 0 / 79%);
background-color: #1e006398; /*0a58ca94 */
z-index: 1; 
}
.carousel-item {
max-height: 55vh !important;
}
.carousel-caption {
bottom: 5.25rem;
color: #fff;
font-weight: bolder;
font-size: 38px;
z-index: 3;
}

/* end slider */

/* START HERO  */
.hero-section{
margin-top: 8%;
text-transform: capitalize;
}
.hero-section h2 {
font-weight: 700;
color: #1C1B1B;
}
.hero-section p {
color: #878A8F;
line-height: 1.8;
}
.hero-section button {
color: #1C1B1B;
font-weight: 600;
border: none;
background-color: #fff !important;
padding: 0;
text-transform: capitalize;
}
.hero-section button:hover{
color: #1C1B1B;
font-weight: 600;
border-color: #fff;
background-color: #fff !important;
padding: 0;
}

/* END HERO  */

/* start about-me */
.about-me{
text-align: center;
position: relative;
padding-top: 40px;
padding-bottom: 40px;
}
.about-me h2 {
color:  var(--heading);
text-transform: capitalize;
}
/* END ABOUT ME  */

/* start some project  */
.some-project{
padding-top: 40px;
padding-bottom: 40px;
text-transform: capitalize;
}
.some-project h2 {
color: #1C1B1B;
text-align: center;
}
.some-project .body-works{
position: relative;
}
.some-project .body-works img{
width: 100%;
display: block;
border-radius: 8px;
}
.some-project .body-works .overlay{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: 100%;
background-color: #0e0c0c;
display: none;
}
.some-project .body-works:hover .overlay{
display: block;
opacity: .9;
transition: all .2s ease-in;

}
.some-project .body-works .overlay .text{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #fff; 
z-index: 9999;
}
.some-project .body-works .overlay a {
text-decoration: none;
color: #fff;
display: block;
}
.some-project .body-works .text h3{
font-size: 36px;
font-weight: 700;
}
.some-project .body-works .text span{
color: #878A8F;
font-size: 16px;
}

/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
content: "";
background-color: #ffe54c;
width: 100%;
z-index: -1;
position: absolute;
height: 100%;
top: 7px;
left: 7px;
transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

/* last some project  */



/* start our-skills */
.our-skills{
padding-top: 20px;
padding-bottom: 20px;
color: var(--paragraph);
background-color: #FEFEFE;
}
.our-skills .body-skills {
background-color: #FCFCFC;
padding: 10px;
border-radius: 4px;
text-align: center;
}
.our-skills .body-skills img {
width: 25%;
}
.our-skills .body-skills h6 {
color: var(--heading);
}
.our-skills h4{
color: var(--heading);
}
/* end our-skills */


#changeText{
text-transform: uppercase;
color: var(--secondary);
font-size: 24px;
}
/* end about-me */
.our-service {
text-align: center;
background-color: #fff;
position: relative;
padding-top: 40px;
padding-bottom: 40px;
}

.our-service .row{
margin-top: 40px;
margin-bottom: 40px;
}
.our-service h2 {
color: #1C1B1B;
text-transform: uppercase;
}
.order{
position: absolute;
left: 0;
top: 0;
text-transform: capitalize;
background-color: #fff;
padding: 10px;
cursor: pointer;
color: #fff;
}
.line{
background-color: #0d6efd;  
width: 100px;
height: 4px;
border-radius: 4px;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
}

.our-service .col-service{
background-color: #fff;
padding: 10px;
margin-bottom: 20px;
font-size: 12px;
position: relative;
min-height: 220px;
border-radius: 4px;
}
.our-service .col-service h4{
text-transform: capitalize;
margin-top: 10px;
margin-bottom: 10px;
color: #0d6efd;
}

.our-service .col-service img {
width: 10%;
margin-top: 10px;
margin-bottom: 10px;
}

/* end our services  */

/* start last project  */

.last-project {
position: relative;
padding-top: 40px;
padding-bottom: 40px;
}
.last-project h2 {
color: #0F354D;
text-transform: uppercase;
text-align: center;
}
.last-project .row{
margin-top: 40px;
margin-bottom: 40px;
}
.last-project .col-last-project{
background-color: #f8f7f7;
position: relative;
padding: 20px;
margin-bottom: 20px;
min-height: 200px;
}

.last-project .col-last-project .number{
background-color: #0F354D;
color: #fff;
position: absolute;
left: 0;
top: 0;
padding: 10px;
}
.last-project .col-last-project h4{
text-transform: capitalize;
margin-left: 30px;
color: black;
}
.last-project .col-last-project p{
text-transform: capitalize;
margin-left: 30px;
color: black;
}
.last-project .col-last-project a{
text-transform: capitalize;
margin-left: 30px;
color: black;
text-decoration: none;
border: solid 1px #000;
padding: 5px;
}
.last-project .col-last-project a:hover{
color: #fff;
background-color: #0F354D;
transition: all .2s .2s;
}
/* end last project  */


/* START OUR BLOG  */

.our-blog{
  padding-top: 40px;
  padding-bottom: 40px;
}
.our-blog .row{
  text-transform: capitalize;
}
.our-blog .card-blog{
  background-color: #f6f6f6;
  text-align: center;
  padding: 10px;
  min-height: 400px;
  max-height: 400px;
}

.our-blog .card-blog h5{
  color: #000;
  font-size: 16px;
}
.our-blog .card-blog p{
  color: #666060;
  font-size: 14px;
}
.our-blog .card-blog button{
background-color: #0d6efd;
padding: 10px 150px 10px 150px;
border: none;

}
.our-blog .card-blog a{
padding: 10px;
color: #fff;
text-decoration: none;
}
/* END OUR BLOG  */
/* START BLOG */
.blog{
  /* background-color: #171D2B; */
  background-color: #111827;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  text-transform: capitalize;
}

.blog p {
  color: #f8f7f773;
}
.blog .cards-blog .card{
  background-color: #111827;
  border: none;
}
.blog .cards-blog .card img{
  width: 100%;
  height: 10vw;
  object-fit: cover;
}
.blog a{
  color: #fff;
}
.blog .cards-blog .card h5{
  color: #fff;
  text-transform: capitalize;
}
.blog .cards-blog .card:hover h5{
  /* color: #ffe54c; */
  color: var(--paragraph);
  transition: all 1s ease-out;}
.blog a{
  text-decoration: none;
}
/* END BLOG */


/* start footer */
footer{
background-color: #111827;
padding-bottom: 40px;
padding-top: 40px;
}
footer h2{
  color: #fff;
  text-transform: capitalize;
}
footer p {
color: #f8f7f773;
padding-top: 40px;
}
footer p a {
  color: #fff;
}
footer p a:hover{
  color: rgb(190, 190, 190);
  transition: all .2s ease-in;}
footer ol {
color: #000;
margin: 0;
padding: 0;
}
footer ol li {
  display: inline-block;
  margin-right: 10px;
}
footer ol li a {
  color: #fff;
}
footer ol li a:hover{
  color: rgb(190, 190, 190);
  transition: all .2s ease-in;
}
footer ol li a i {
  font-size: 20px;
}
footer .content-social{
padding-top: 40px;
}
footer .content-social span:hover{
background-color: #0F354D;

}
footer .content-social i{
font-size: 20px;
}
footer .content-social span {
color: #fff;

border: solid 1px #fff;
padding: 5px 10px 5px 10px ;
margin-right: 10px;
}

/* end footer */