body{
}
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
/* start nav */
nav{
    text-transform: uppercase;
    background-color: #fff !important;
    border-bottom: solid #0F354D 2px;
}
nav .navbar-brand{
    color: #0F354D !important;
}
nav .navbar-brand .dev{
    color: #0a58ca;
    font-weight: bold;
}
nav .navbar-nav{
    float: left !important;
}

nav .navbar-nav .active{
    border-bottom: solid 2px #0a58ca ;
    color: #0a58ca  !important;
}
nav ul li a {
    color: #000 !important;
    font-weight: 500;
}
nav .dropdown-menu{
    background-color: #f8f7f7;
    color: #0F354D;
}
nav .dropdown-menu .dropdown-item:hover{
}
.ml-auto {
    margin-left: auto;
}
nav .dropdown-menu{
    background-color: #0F354D;
    color: #f8f7f7 !important;
    border-radius:0;
    border: none;
    border-top: solid #f8f7f7 1px;
}
nav .dropdown-menu li a:hover{
    background-color: #0F354D;
    color: #fff !important;
    margin-left: 2px;
    transition: all .2s .2s;

}
/* end nav  */

/* start slider */
.carousel-item{
    position: relative;
}
.overlay-slider {
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 79%);
    background-color: #0a58ca94;
    z-index: 1; 
    
}
.carousel-caption {
    bottom: 25.25rem;
    color: #fff;
    font-weight: bolder;
    font-size: 38px;
    z-index: 3;
}

/* end slider */

/* start about-me */
.about-me{
text-align: center;
position: relative;
padding-top: 40px;
padding-bottom: 40px;
}
.about-me h2 {
color: #0F354D;
text-transform: uppercase;
}
/* start our-skills */
.our-skills{
    padding-top: 20px;
    padding-bottom: 20px;
}
.our-skills span{
padding: 10px 20px 10px 20px ;
border: solid #0a58ca 1px;
color: #0a58ca;
text-transform: capitalize;
border-radius: 25% 10%;
cursor: pointer;
}
.our-skills h4{
color: #0F354D;
}
/* end our-skills */
.some-skills{
text-align: left;
position: relative;
}
.some-skills h4{
    text-transform: capitalize;
}
.some-skills ol {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 10px;
}
.some-skills ol li{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #0F354D;
    color: #fff;
    width: 50%;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

.some-skills ol li a{
text-decoration: none;
background-color: #cecece;
padding: 10px;
color: black;
border-radius: 4px;
cursor: none;
}
.some-skills ol li span{
    padding: 10px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;

}
#changeText{
    text-transform: uppercase;
    color: #0F354D;
    font-size: 24px;
}
/* end about-me */
.our-service {
text-align: center;
background-color: #f8f7f7;
position: relative;
padding-top: 40px;
padding-bottom: 40px;
}

.our-service .row{
margin-top: 40px;
margin-bottom: 40px;
}
.our-service h2 {
color: #0F354D;
text-transform: uppercase;
}
.order{
position: absolute;
left: 0;
top: 0;
text-transform: capitalize;
background-color: #0F354D;
color: #fff;
padding: 10px;
cursor: pointer;
}
.line{
background-color: #0F354D;  
width: 100px;
height: 4px;
border-radius: 4px;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
}

.our-service .col-service{
background-color: #fff;
padding: 10px;
margin-bottom: 20px;
font-size: 12px;
position: relative;
min-height: 220px;
}
.our-service .col-service h4{
text-transform: capitalize;
margin-top: 10px;
margin-bottom: 10px;
}

.our-service .col-service img {
width: 10%;
margin-top: 10px;
margin-bottom: 10px;
}

/* end our services  */

/* start last project  */

.last-project {
position: relative;
padding-top: 40px;
padding-bottom: 40px;
}
.last-project h2 {
color: #0F354D;
text-transform: uppercase;
text-align: center;
}
.last-project .row{
margin-top: 40px;
margin-bottom: 40px;
}
.last-project .col-last-project{
background-color: #f8f7f7;
position: relative;
padding: 20px;
margin-bottom: 20px;
min-height: 200px;
}

.last-project .col-last-project .number{
background-color: #0F354D;
color: #fff;
position: absolute;
left: 0;
top: 0;
padding: 10px;
}
.last-project .col-last-project h4{
text-transform: capitalize;
margin-left: 30px;
color: black;
}
.last-project .col-last-project p{
text-transform: capitalize;
margin-left: 30px;
color: black;
}
.last-project .col-last-project a{
text-transform: capitalize;
margin-left: 30px;
color: black;
text-decoration: none;
border: solid 1px #000;
padding: 5px;
}
.last-project .col-last-project a:hover{
color: #fff;
background-color: #0F354D;
transition: all .2s .2s;
}
/* end last project  */

/* start some project  */
.some-project{
padding-top: 40px;
padding-bottom: 40px;
}
.some-project .body-some-project{
position: relative;

}

.some-project h2 {
color: #0F354D;
text-transform: uppercase;
text-align: center;
}
.some-project .row{
margin-top: 40px;
margin-bottom: 40px;
}

.some-project .body-some-project .overlay-project{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: 100%;
background-color: #0F354D;
cursor: pointer;
display: none;
color: #fff;
}

.some-project .body-some-project:hover .overlay-project{
display: block;
opacity:0.75;
transition: all .2s .2s;
}

.some-project .body-some-project .overlay-project .text-overlay-project {
text-transform: uppercase;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); 
}
.text-overlay-project a {
    text-decoration: none;
    color: #fff;
}

/* last some project  */


/* start blog  */
.our-blog{
min-height: 600px;
padding-top: 40px;
padding-bottom: 40px;
}
.our-blog h2 {
text-align: center;
color: #0F354D;
text-transform: uppercase;
}
.our-blog .row{
margin-top: 40px;
margin-bottom: 40px;
}


.our-blog .col-our-blog{
background-color: #fff;
padding: 10px;
border-radius: 4px;
min-height: 450px;
position: relative;
}
.our-blog .col-our-blog img{
width: 100%;
border-radius: 2px;
position: relative;
cursor: pointer;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #0F354D;
    cursor: pointer;
    display: none;
    color: #fff;
}
.our-blog .col-our-blog img:hover .overlay{
    display: block;
transition: all .2s .2s;
}
.our-blog .col-our-blog h6{
margin-top: 20px;
margin-bottom: 20px;
font-size: 18px;
}
.our-blog .col-our-blog a{
margin-top: 10px;
margin-bottom: 10px;
text-decoration: none;
border-bottom: #0F354D solid 1px;
padding: 5px;
color: #0F354D;
}
.our-blog .col-our-blog ol {
padding: 0;
margin: 0;
list-style: none;
margin-top: 20px;
position: absolute;
}
.our-blog .col-our-blog ol li{
display: inline;
}
.our-blog .col-our-blog ol li span {
background-color: #f8f7f7;
color: #000;
padding: 10px;
cursor: pointer;
}
.our-blog .col-our-blog ol li span{
margin-top: 10px;
margin-bottom: 10px;font-size: 12px;
}
/* start footer */
footer{
    background-color: #0a58ca;
    padding-bottom: 20px;

}
footer p {
text-transform: capitalize;
color: #fff;
padding-top: 40px;
}
footer ol {
    color: #000;
    margin: 0;
    padding: 0;
}
/* end footer */